<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
</head>
<body>
    <div>
    <h1>Tech Careers</h1>
    <img id="banner" src="static/banner.jpg" alt="carer img">
    <h2>About Us</h2>
    <p>
        Lorem ipsum odor amet, consectetuer adipiscing elit.
        Aliquam purus pretium mattis suspendisse a?
        Class mattis suscipit mus platea nisi laoreet posuere diam.
        Velit venenatis pellentesque hac rhoncus euismod dolor faucibus.
        Facilisi ut class in vivamus commodo rhoncus molestie.
        Erat class tortor porta tristique ornare parturient maximus.
    </p>
    <h2>Open Positions</h2>
    <p>TODO - Show the jobs here</p>
    <div>
        <button>Contact Here</button>
        <p>Copyright 2025, Careers</p>
    </div>
</div>
</body>
</html>